/* Main styles */
* {
	padding: 0;
    margin:0;
    font-family: 'Raleway', sans-serif;
}

/* Navigation */
nav.en_tete {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

div#LogoReservia > img  {
    height: 40px;
}


div.navigation {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

div.navigation > a {
    padding: 35px 15px;
    margin: 0px 15px;
    color: black;
    text-decoration: none;
}

div.navigation > a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}
#insc{
    color: #0065fc;
    font-weight:bold;
}

/* Chapeau */
section#chapeau{
    margin-left: 40px;
}

section#chapeau > h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

section#chapeau > p {
    font-size: 14px;
}

div#rechercher{
    display: flex;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}
div.local{
    align-content: center;
    border-radius: 10px 0px 0px 10px;
    padding:15px;
    align-items: center;
    background-color: #f2f2f2;
}
div#rechercher > input[type=text] {
    border: none;
    border-top: 1px #f2f2f2 solid;
    border-bottom: 1px #f2f2f2 solid;
    padding: 0 10px;
    font-weight: bold;
    font-size: 16px;
}
div.rech {
	color: #ffffff;
	background-color: #0065FC;
	border-radius: 0px 15px 15px 0px;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
}
#search { 
    text-decoration: none;
    color: #fff;
}
#search-icon{
    display: none;
}

#filtres {
	display: flex;
	flex-wrap: wrap;
    align-items: center;
}
#filtres>li{
    padding:5px 30px 5px 0;
}

div.filtre_container:hover {   
    color:orangered;
}
div.filtre_container {
    border-radius: 25px;
    border: 2px #d9d9d9 solid;
    border-left: none;
}
i.filtre_icon {
    border-radius: 50%;
    background-color: #deebff;
    color: #0065fc;
    padding: 12px;
    font-size: 18px;
}
span.filtre_label {
    padding-left: 8px;
    padding-right: 16px;
    font-weight: bold;
}

div.info{
    font-size : 14px;
    margin : 20px 0;
    display:inline-flex;
    align-items: center;
}

i.info_icon {
    color: blue;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    padding: 5px 8px;
    margin-right: 10px;
    font-size: 10px;
}

/* Hebergement */
section#hebergement {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}

div.heb_item {
    border: 5px white solid;
    border-radius: 20px;
    background-color: white;
}
img.img_heb {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 115px;
}
div.heb_text_cont {
    border-top: 1px white solid;
    font-size: 13px;
    padding: 10px;
    padding-right: 0;
}

div.hotel-star-heb{
    padding-top: 5px;
}

i.heb_star_icon{
    background-color: white;
    color: #0065fc;
}

section#container{
    display:flex;
    flex-direction: column;
    margin:10px 0;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 62%;
}

#h1heberg{
    margin:0px 30px;
    padding: 30px 10px 10px 10px;
    font-weight: bold;
}
    
div.heberg{
	display: grid;
    margin: 10px 30px 30px 30px;
    padding: 5px;
    grid-template-columns: repeat(3, calc(33% - 30px));
    grid-gap: 30px;    

}
div.heberg>a{
    text-decoration: none;
    color:black;
}

section#container > span{
    font-weight: bold;
    padding-left: 40px;
    padding-top: 10px;
}

section#container2{
    display:flex;
    flex-direction: column;
    margin:10px 0 10px 30px;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 30%;
}
div#chapeau_pop{
    display: flex;
    justify-content: space-between;
    margin:30px 40px 0 40px;
}

#h2heberg{
    font-weight: bold;
}

div.les_plus_pop>a{
    text-decoration: none;
    color:black;
}

div.les_plus_pop > img {
	width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid white;
}

div.les_plus_pop{
    display:grid;
    margin: 20px 30px 30px 30px;
    padding: 5px;
    grid-gap: 30px;
}
div.les_plus_pop_text_cont>p{
    padding-top:10px
}

div.pop_item{
    display: flex;
    border: 5px white solid;
    border-radius: 20px;
    background-color: white;    
    height:135px;
}

img.img_pop{
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    width: 40%;
}

div.les_plus_pop_info_cont{  
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    width: 60%;
}


/*Activités*/
section#activites{
    margin-left: 40px;
}
h3#h1act{
    margin-top: 40px;
    margin-bottom: 20px;
}

div.Activ >img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

div.Activ >a{
    text-decoration: none;
    color:black;
}

div.Activ >a >img{
    border-radius: 20px 20px 0 0;
}

div.activ_text_cont>h3{
    font-size: 13px;
}

div.Activ{
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 45px));
    grid-template-rows: repeat(2,50%);
    grid-column-gap: 40px;
    height: 450px;
    margin-bottom: 60px;
}

.Activ_item{
    display: flex;
    box-shadow: #cccc 2px 2px 10px;
    border-radius: 20px;
    flex-direction: column;
    
}
div.activ_text_cont{
    padding:20px;
    padding-right: 0;
}


a#vieux_port{
    grid-row: 1/3;
    grid-column: 1/2;
   
} 
img.vieux_port{
    object-fit: cover;
    height: 390px;
}

img.Fort_de_Pomègues{
    object-fit: cover;
    height: 165px;
}
a#îles_du_frioul{
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top:40px;
}
img.îles_du_frioul{
    object-fit: cover;
    height: 125px;  
}

a#parc_National_des_Calanques{
    grid-row: 1/3;
    grid-column: 3/4;
    
}
img.parc_National_des_Calanques{
    object-fit: cover;
    height: 390px;
}

img.Notre-dame-de-la-Garde{
    object-fit: cover;
    height: 125px;
}
a#Notre-dame-de-la-Garde{
    margin-bottom:40px;
}
img.Parc_longchamp{
    object-fit: cover;
    height: 165px;
}

/*footer*/
footer{
    background-color: #f2f2f2;
    padding: 50px;
    
}
ul{
    list-style-type: none;   
}

li{
    padding: 5px 0;
}
div.bas_de_page>h3{
    font-weight: bold;
    padding-bottom: 10px;
}

div.bas_de_page{
    display: inline-block;
    vertical-align: top;
    width: 32%;
}