/* Navigation */
nav.en_tete {
    margin: 0;
}

div.navigation {
    border-bottom: 1px;
    height: auto;
    width:100%;
}

div#LogoReservia{
    position: absolute;
    left:5%;
    top:10px;
}
div.navigation > a {
    padding: 10px 40px;
    margin: 70px 0 25px;
    border-bottom: 2px solid #f2f2f2;
}

#nav1, #nav2{
    border-top:0;
}

#insc{
    position: absolute;
    top:15px;
    right: 0;
    margin: 0;
    border-bottom: 0;
}
a:hover#insc{
    border-top: 2px #0065FC solid;
}

/* Chapeau */
section#chapeau{
    margin: 0 20px;
}

div.rech {
    border-radius: 25%;
}
#search {
    display: none;
}
#search-icon {
    display: block;
}
ul#filtres > li:nth-child(1) {
    width: 100%;
}
#filtres>li {
    padding-right: 20px;
}

/* Hebergement */
section#hebergement {
    flex-direction: column-reverse;
    margin: 0;
}
#h1heberg {
    padding: 10px 10px 0 0;
}

div.heb_item {
    box-shadow: #cccc 2px 2px 10px;
}

section#container{
    width: 100%;
    background-color: white;
    border-radius: 0;
}

div.heberg{
	display: flex;
    flex-direction: column;
    margin: 10px 20px 30px 20px; 
    grid-gap: 20px;
    padding:0;
}
section#container > span{
    padding-left: 20px;
    padding-top: 0;
}

section#container2{
    margin:10px 0;
    width: 100%;
    border-radius: 0;
}

div#chapeau_pop{
    margin:30px 20px 0 20px;
}

div.les_plus_pop{
    margin: 20px;
    grid-gap: 20px;
    padding:0;
}

/*Activités*/
section#activites {
    margin: 0 20px;
}

h3#h1act{
    margin-top:  30px;
}

div.Activ >a >img{
    object-fit: cover;
    height: 140px;
}

div.Activ{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    height: auto;
}

a#îles_du_frioul {
    margin-top: 0;
}
a#Notre-dame-de-la-Garde {
    margin-bottom: 0;
}

/*footer*/
footer{
    margin-top: 50px;  
    padding-bottom: 0; 
    padding-left: 25px;
}

div.bas_de_page{
    display: block;
    width: 100%;
    padding-bottom: 40px;
}